<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>

    <ul>
        <% for(var i = 0.; i < cursos.length; i++){ %>
            <li>
                <%=  cursos[i].nome %> - <%= cursos[i].categoria %>
            </li>
        <% } %> 
    </ul>

    <form onsubmit="createCourse(event)">
        <input type="text" name="nome" id="nome" placeholder="nome" autofocus>
        <input type="text" name="categoria" id="categoria" placeholder="categoria" autofocus>
        <input type="submit" value="Criar">
    </form>
</body>

<script>//colocar em ./public depois
        //como o submit é para outra pagina o envio é interceptado antes ir para outra página   
    function createCourse(event){
        event.preventDefault();
        var nome = document.querySelector('#nome').value,
            categoria = document.querySelector('#categoria').value

            fetch('/', {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({nome, categoria})
            })
            .then(res => res.json())
            .then(()=> {location.reload()})
            .catch(()=>{
                console.error("Ocorreu um erro");
            })
    }
</script>

</html>